{% extends "base.html.twig" %}
{% import "jury/jury_macros.twig" as macros %}

{% block title %}Register Account{% endblock %}

{% block extrahead %}
    {{ parent() }}
    {{ macros.select2_extrahead() }}
    <link rel="stylesheet" href="{{ asset('style_login.css') }}">
{% endblock %}

{% block body %}
    <div class="additional-logins">

        {{ form_start(registration_form, { 'attr': {'class': 'form-signin'} }) }}
        <h1 class="h3 mb-3 font-weight-normal">注册账号</h1>
        <div class="mb-2">
            填写以下信息注册您的DOMjudge账号
        </div>
        {# Form elements will be renderd automatically #}
        {{ form_end(registration_form) }}
    </div>
{% endblock %}

{% block extrafooter %}
    <script>
        $(function () {
            $('#user_registration_existingAffiliation').select2();

            var $teamCategories = $('[name="user_registration[teamCategory]"]');
            var $affiliationRadios = $('[name="user_registration[affiliation]"]');

            var $elementVisibility = function () {
                if ($affiliationRadios.length) {
                    var teamCategoryValue = $teamCategories.children('option:selected').text();
                    var $affiliationGroup = $('#user_registration_affiliation_0').closest('.form-group');
                    var $affiliationNameGroup = $('#user_registration_affiliationName').closest('.form-group');
                    var $affiliationCountryGroup = $('#user_registration_affiliationCountry').closest('.form-group');
                    var $existingAffiliationGroup = $('#user_registration_existingAffiliation').closest('.form-group');

                    if (teamCategoryValue === '校内'){
                        $affiliationGroup.hide();
                        $affiliationNameGroup.hide();
                        $affiliationCountryGroup.hide();
                        $existingAffiliationGroup.hide();
                    }
                    else{
                        $affiliationGroup.show();
                        var affiliationValue = $affiliationRadios.filter(':checked').val();
                        switch (affiliationValue) {
                            case 'none':
                                $affiliationNameGroup.hide();
                                $affiliationCountryGroup.hide();
                                $existingAffiliationGroup.hide();
                                break;
                            case 'new':
                                $affiliationNameGroup.show();
                                $affiliationCountryGroup.show();
                                $existingAffiliationGroup.hide();
                                break;
                            case 'existing':
                                $affiliationNameGroup.hide();
                                $affiliationCountryGroup.hide();
                                $existingAffiliationGroup.show();
                                break;
                        }
                    }
                }

                var $realNameGroup = $('#user_registration_realName').closest('.form-group');
                var $buaaStudentNumberGroup = $('#user_registration_buaaStudentNumber').closest('.form-group');
                var $usernameGroup = $('#user_registration_username').closest('.form-group');
                var $teamNameGroup = $('#user_registration_teamName').closest('.form-group');

                if (teamCategoryValue === '校内'){
                    $realNameGroup.show();
                    $buaaStudentNumberGroup.show();
                    $usernameGroup.hide();
                    $teamNameGroup.hide();
                }
                else{
                    $realNameGroup.hide();
                    $buaaStudentNumberGroup.hide();
                    $usernameGroup.show();
                    $teamNameGroup.show();
                }
            }

            if ($teamCategories.length){
                $teamCategories.on('change', $elementVisibility);
            }

            if ($affiliationRadios.length) {
                $affiliationRadios.on('change', $elementVisibility);

                var $checkedRadio = $affiliationRadios.filter(':checked');
                if ($checkedRadio.length === 0) {
                    $affiliationRadios.first().prop('checked', true);
                }

                $affiliationRadios.change();
            }
        });
    </script>

    {% include 'jury/partials/country_select.html.twig' with {field: '#user_registration_affiliationCountry'} %}
{% endblock %}
